<form action="/login" method="POST" class="w3-container w3-display-middle w3-col s6 ">

        <div class="w3-row w3-indigo w3-center w3-round">
            <h2>login</h2>
        </div>

        <label class="w3-margin"><b>Email</b></label>
        <input name="email" class="w3-input w3-border" type="email">

        <label class="w3-margin"><b>Contraseña</b></label>
        <input name="password" class="w3-input w3-border" type="password">

        <button type="submit" class="w3-btn w3-indigo w3-round w3-margin">Login</button>

        <p >¿Aún sin registrar? <a class="w3-text-blue"  href="/register">Regístrate</a>.</p>

    </form>

 