     <nav class="w3-bar w3-indigo w3-padding-16">

        <img class="w3-bar-item" src="" alt="logo-Alestis">

        <a  class="w3-bar-item w3-button w3-large" href="/profile">Perfil</a>

        <a  class="w3-bar-item w3-button w3-large" href="/users">Administrador</a>

         {{#if session.email }}
        <a  class="w3-bar-item w3-button w3-large w3-right" href="/logout">Logout</a> 

        <a  class="w3-bar-item w3-button w3-large w3-right" href="javascript:;">{{ session.email }}</a>

        

        {{else}}

         <a href="/login" class="w3-bar-item w3-button w3-large w3-right">Login</a>

        <a href="/register" class="w3-bar-item w3-button w3-large w3-right">Registro</a>
        {{/if}}
    </nav>