
<form action="/request/new" method="POST" class="w3-container w3-display-middle w3-col s6 ">
    <p>
        <h2 class="w3-row w3-indigo w3-center w3-round">Solicitud</h2>
        <p>
            <label for="inicio">Fecha de inicio</label>
            <input type="date" id="start" name="start">
            <label for="fin">Fecha de finalización</label>
            <input type="date" id="end" name="end">

        </p>
        <fieldset>
            <legend>Clase de Solicitud<abbr title="Este campo es obligatorio">*</abbr></legend>
            <input type="radio" name="kind" id="r1" value="Vacaciones" onchange="show('vac')"><label for="r1">Vacaciones
            </label>
            <input type="radio" name="kind" id="r2" value="Asuntos Propios" onchange="show('apr')"><label for="r2">Asuntos
                Propios</label>
            <input type="radio" name="kind" id="r2" value="Permiso Retribuido" onchange="show('pr')"><label for="r2">Permiso
                Retribuido</label>
        </fieldset>
    </p>
    <div id="vac" class="w3-hide">
        <h2>Vacaciones</h2>

    </div>
    <div id="apr" class="w3-hide">
        <h2>Asuntos Propios</h2>
        <p>
            <label for="fecha">Modalidad</label>
            <input type="radio" name="duration" id="2h" value="2"><label for="2h">2h</label>
            <input type="radio" name="duration" id="4h" value="4"><label for="4h">4h</label>
            <input type="radio" name="duration" id="8h" value="8"><label for="8h">8h</label>
            <textarea></textarea>
        </p>

    </div>
    <div id="pr" class="w3-hide">
        <h2>Permiso Retribuido</h2>
        <p>
            <ul>
                <li><label for="causa">Causa<abbr title="Este campo es obligatorio">*</abbr></label></li>
                <li><input type="radio" name="reason"  value="Matrimonio">Matrimonio</li>
                <li><input type="radio" name="reason"  value="Nacimiento Hijo">Nacimiento Hijo</li>
                <li><input type="radio" name="reason"  value="Intervención / Hospitalización 1º / 2º Grado">Intervención / Hospitalización 1º / 2º Grado</li>
                <li><input type="radio" name="reason"  value="Traslado Domicilio Habitual">Traslado Domicilio Habitual</li>
                <li><input type="radio" name="reason"  value="Asistencia Juicio / Jurado">Asistencia Juicio / Jurado</li>
                <li><input type="radio" name="reason"  value="Fallecimiento Familiar 1º / 2º Grado">Fallecimiento Familiar 1º / 2º Grado</li>
                <li><input type="radio" name="reason"  value="Otra">Otra</li>
            </ul>
      
            <textarea></textarea>
        </p>
    </div>
    <button type="submit" class="w3-btn w3-indigo w3-round w3-margin">Enviar</button>

</form>

<script>

     function minDate() {
      var minValue = document.getElementById("start").value;
      document.getElementById("end").setAttribute("min", minValue);
    }

    function show(element) {
        var vac = document.getElementById("vac");
        var apr = document.getElementById("apr");
        var pr = document.getElementById("pr");

        var x = document.getElementById(element);

        vac.classList.remove("w3-show");
        vac.classList.add("w3-hide");

        apr.classList.remove("w3-show");
        apr.classList.add("w3-hide");

        pr.classList.remove("w3-show");
        pr.classList.add("w3-hide");

        x.classList.remove("w3-hide");
        x.classList.add("w3-show");
    }

</script>