<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Holidays-request</title>

  </head>
  <body>

    <div class="container">
      {{> navbar }}
      <div class="row">
        <div class="col-12">
          {{{ body }}}
        </div>
      </div>
    </div>
  
   
  </body>
</html>
