
<h3>Welcome {{ session.email }} </h3>

<div class="w3-btn w3-round w3-indigo w3-large  " style="padding:3px">
    <div class="w3-btn w3-round w3-indigo w3-border w3-border-white">
      <a href="/request/new">Nueva Solicitud</a>
    </div>
</div>


<div class="w3-tag w3-round w3-indigo w3-large  " style="padding:3px">
    <div class="w3-tag w3-round w3-indigo w3-border w3-border-white">
      <a href="/request/list">Listado de Solicitudes</a>
    </div>
</div>